[submodule "src/ket/clib/libs/libket"]
	path = src/ket/clib/libs/libket
	url = https://gitlab.com/quantum-ket/libket.git
[submodule "src/ket/clib/libs/kbw"]
	path = src/ket/clib/libs/kbw
	url = https://gitlab.com/quantum-ket/kbw.git
