# SPDX-FileCopyrightText: 2020 Evandro Chagas Ribeiro da Rosa <evandro@quantuloop.com>
# SPDX-FileCopyrightText: 2020 Rafael de Santiago <r.santiago@ufsc.br>
#
# SPDX-License-Identifier: Apache-2.0

[submodule "src/ket/clib/libs/libket"]
	path = src/ket/clib/libs/libket
	url = https://gitlab.com/quantum-ket/libket.git
[submodule "src/ket/clib/libs/kbw"]
	path = src/ket/clib/libs/kbw
	url = https://gitlab.com/quantum-ket/kbw.git
